html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button{
	margin:0;
	padding:0;
}
body{
	font: 12px/1.5 "Microsoft yahei",arial, Simsun, sans-serif;
	color: #333;
}
.m{
	display: none; 
}
#ztui_head{
}
/*  */

#ztui_head_content{
	min-width: 980px;
	max-width: 1180px;
}
@media screen and (max-width: 1200px){
	

}
@media screen and( max-width: 768px){
	#ztui_head_content{
		width:980px;
	}
}
